[submodule "ritz"]
	path = ritz
	url = git@github.com:ritz-lang/ritz.git
[submodule "ritzunit"]
	path = ritzunit
	url = git@github.com:ritz-lang/ritzunit.git
[submodule "cryptosec"]
	path = cryptosec
	url = git@github.com:ritz-lang/cryptosec.git
