[submodule "projects/ritz"]
	path = projects/ritz
	url = ../ritz
[submodule "projects/ritzunit"]
	path = projects/ritzunit
	url = ../ritzunit
[submodule "projects/squeeze"]
	path = projects/squeeze
	url = ../squeeze
[submodule "projects/valet"]
	path = projects/valet
	url = ../valet
[submodule "projects/cryptosec"]
	path = projects/cryptosec
	url = ../cryptosec
